@model rltpMVC.ViewModels.DashboardViewModel
 <main>

        <div id="cabec">
        <h1>Bem-Vindo</h1>
        <p>Aqui está a lista de eventos</p>
        </div>

        <h2>Eventos Pendentes (@Model.PedidosPendentes)</h2>
        <table id="pedidosp">
                    <tr>
                      <th>Nome</th>
                      <th>Tipo de Evento</th>
                      <th>Data do Evento</th>
                      <th>Q. de Pessoas</th>
                      <th>Veredito</th>
                    </tr>
                    @foreach(var pedido in Model.Agendamentos )
                    {
                        <tr>
                            <td><a href='@Url.Action("DadosPedidos","Administrador", new {id = @pedido.Id})'>@pedido.Cliente.Nome</a></td>
                            <a><td>@pedido.Evento.tipoEvento</td></a>
                            <a><td>@pedido.Evento.dataEvento</td></a>
                            <a><td>@pedido.Evento.numPessoas</td></a>
                            <td><a href='@Url.Action("Aprovar", "Agendamento", new {id = @pedido.Id})'><i class="fas fa-check">Aprovar</i></a> / / <a href='@Url.Action("Reprovar", "Agendamento", new {id = @pedido.Id})'><i class="fas fa-times">Reprovar</i></a></td>
                        </tr>
                    }

                  </table>

                  
        
          <h2>Histórico de Eventos(@foreach(var item in Model.PedidosTotais)
            {
              @item;
              break;
            })
          </h2>
              <table id="pedidos">
                      <tr>
                        <th>Nome</th>
                        <th>Tipo de Evento</th>
                        <th>Data do Evento</th>
                        <th>Q. de Pessoas</th>
                        <th>Situação</th>
                      </tr>
          @foreach(var item in Model.AgendamentosVistos)
            {
              if(!item.Status.Equals(0))
              {

                      <tr>
                        <td><a href='@Url.Action("DadosPedidos","Administrador", new {id = @item.Id})'>@item.Cliente.Nome</a></td>
                            <a><td>@item.Evento.tipoEvento</td></a>
                            <a><td>@item.Evento.dataEvento</td></a>
                            <a><td>@item.Evento.numPessoas</td></a>
                            @if(item.Status.Equals(1))
                              {
                                <td>Aprovado!</td>
                              } 
                              else if(item.Status.Equals(2))
                              {
                                <td>Rejeitado.</td>
                              }
                      </tr>
                      }
                    }
                </table>

    <div id="bcon">
        <a asp-controller="Cliente" asp-action="Logoff" class="confirmar">Sair</a>
    </div>
    
    </main>
