@model rltpMVC.ViewModels.DashboardViewModel
 <main>

        <div id="cabec">
        <h1>Bem-Vindo</h1>
        <p>Aqui está a lista de eventos</p>
        </div>

        <h2>Eventos Pendentes (@Model.PedidosPendentes)</h2>
        <table id="pedidosp">
                    <tr>
                      <th>Nome</th>
                      <th>Evento</th>
                      <th>Situação</th>
                    </tr>
                    @foreach(var pedido in Model.Agendamentos )
                    {
                        <tr>
                            <a href='@Url.Action("Visualizar","Agendamento", new {id = @pedido.Id})'><td>@pedido.Cliente.Nome</td></a>
                            <a><td>@pedido.Evento.tipoEvento</td></a>
                            <td><a href='@Url.Action("Aprovar", "Agendamento", new {id = @pedido.Id})'><i class="fas fa-check">Aprovar</i></a> <a href='@Url.Action("Reprovar", "Agendamento", new {id = @pedido.Id})'><i class="fas fa-times">Reprovar</i></a></td>
                        </tr>
                    }

                  </table>

                  
        
          <h2>Histórico de Eventos()</h2>
              <table id="pedidos">
                      <tr>
                        <th>Nome</th>
                        <th>Evento</th>
                        <th>Situação</th>
                      </tr>
                      <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>Festa de 15 anos</td>
                        <td>Aprovado!</td>
                      </tr>
              </table>

    <div id="bcon">
        <a href="rltp.html" class="confirmar">Sair</a>
    </div>
    
    </main>
